.float-left{
float:left;
width:30%;
background:#ddd;
padding:10px;
}

.float-right{
float:right;
width:30%;
background:#bbb;
padding:10px;
}

.clearfix::after{
content:"";
display:block;
clear:both;
}