.block{
display:block;
background:lightblue;
}

.inline{
display:inline;
background:lightgreen;
}

.inline-block{
display:inline-block;
width:150px;
height:80px;
background:orange;
}

.hidden{
display:none;
}

.invisible{
visibility:hidden;
}