
   /* Tablet Styles */

@media (max-width:900px){

/* Portfolio grid */
.portfolio{
grid-template-columns:repeat(2,1fr);
}

/* Dashboard cards */
.grid-container{
grid-template-columns:repeat(2,1fr);
}

/* Responsive demo box */
.box{
background:lightblue;
font-size:20px;
}

/* Navigation layout */
nav ul{
flex-direction:column;
}

}

   /* Mobile Styles */


@media (max-width:600px){

/* Portfolio grid becomes single column */
.portfolio{
grid-template-columns:1fr;
}

/* Grid exercises */
.grid-container{
grid-template-columns:1fr;
}

/* Large responsive box */
.box{
background:orange;
font-size:18px;
padding:30px;
}

 /* Sidebar stacking  */
.sidebar{
width:100%;
float:none;
}

/* Flex layouts stack vertically */
.flex-container{
flex-direction:column;
}

}